<h1 class="header">Welcome to Marios Special Coffee Products Site</h1>

<h1>Our Most Recent Coffee Products</h1>
<div class = "row">
  <div class= "col">
  <% if @recent_products.any? %>
    <% @recent_products.each do |product| %>
      <div class= "col-md">
      <li><%= link_to product.name, product_path(product) %></li>
      </div>
    <% end %>
<% else %>
  <p>There are no recent_products yet.</p>
<% end %>
  </div>
</div>

<h1>Our Coffee Products Sold in U.S.</h1>

    <% @us_location.each do |product| %>
      <%= link_to product.name, product_path(product) %>
    <% end %>


    <h1>The Highest Reviewed Coffee Products</h1>
    <% @most_reviews.each do |product| %>
      <%= link_to product.name, product_path(product) %>
    <% end %>

    