<h1 class="header">Welcome to Mario's Special Coffee Products Site</h1>

<h1>Our Most Recent Coffee Products</h1>

<% if @recent_products.any? %>
  <ul>
    <% @recent_products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no recent_products yet.</p>
<% end %>
