<h1>Products</h1>
# <div class = "row">
  <% if @products.any? %>
    <% @products.each do |product| %>
      # <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Roasted_coffee_beans.jpg/1200px-Roasted_coffee_beans.jpg" width ="250" heigth="auto" alt="Card image cap">
          <div class="card-body">
            <p class="card-text"><%= link_to product.name, product_path(product) %></p>
          </div>
        </div>
      # </div>
    <% end %>
  <% else %>
    <p>There are no products yet.</p>
  <% end %>
# </div>


<p><%= link_to "Create new product", new_product_path %></p>